/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}
a {
  color: rgba(221, 36, 118, 1);
}
ul {
  padding-left: 24px;
}
main {
  min-height: calc(100svh - 158px);
  background: #ebebed;
  display: flex;
  justify-content: center;
}
img {
  width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0 0 0 5px;
  margin: 12px 0;
}
h1 {
  font-size: 21px;
  border-left: 7px solid #ff9b9b;
  background-color: #ff9b9b77;
}
h2 {
  font-size: 20px;
  border-left: 6px solid #b894f3;
  background-color: #b894f377;
}
h3 {
  font-size: 19px;
  border-left: 5px solid #82c3e9;
  background-color: #82c3e977;
}
h4 {
  font-size: 18px;
  border-left: 4px solid #a7cc45;
  background-color: #a7cc4577;
}
h5 {
  font-size: 17px;
  border-left: 3px solid #a9dbc1;
  background-color: #a9dbc177;
}
h6 {
  font-size: 16px;
  border-left: 2px solid #e5acd0;
  background-color: #e5acd077;
}

.wf-roundedmplus1c {
  font-family: "M PLUS Rounded 1c";
}
.misskey-share-button {
  height: 20px;
  line-height: 18px;
  font-size: 11px;
  padding: 0px 6px;
  border-radius: 14px;
  background: rgb(40, 55, 29);
  color: rgb(180, 233, 0);
  text-decoration: none;
}
.x-share-button {
  height: 20px;
  line-height: 18px;
  font-size: 11px;
  padding: 0px 6px;
  border-radius: 14px;
  background: #000;
  color: #FFF;
  text-decoration: none;
}
.sub-heading {
  padding: 0 0 0 5px;
  margin: 5px 0;
  font-size: 20px;
  border-left: 3px solid #b1ebff;
  font-weight: bold;
}
.highlight {
  overflow-x: auto;
}
.highlight pre {
  margin: 0;
  padding: 10px;
}
.main-container {
  max-width: 780px;
  margin: 14px;
  background-color: #f7f5f5;
  padding: 10px;
  border-radius: 7px;
  filter: drop-shadow(5px 5px 10px #7d7d7d22);
  overflow: hidden;
  width: 70%;
  word-break: break-all;
}
.sub-container {
  max-width: 380px;
  width: 30%;
}
.sub-content {
  margin: 14px;
  background-color: #f7f5f5;
  padding: 10px;
  border-radius: 7px;
  filter: drop-shadow(5px 5px 10px #7d7d7d22);
  position: sticky;
  top: 14px;
  max-height: calc(100svh - 28px);
  box-sizing: border-box;
  overflow-y: auto;
}
.flash {
  position: fixed;
  right: 37px;
  bottom: 37px;
  padding: 7px;
  border-radius: 7px;
  filter: drop-shadow(7px 7px 17px #7d7d7d77);
  z-index: 10;
}
.notice {
  background-color: #d1ffe7;
}
.alert {
  background-color: #ffdccd;
}
.cf-turnstile {
  width: 300px;
  height: 65px;
  border-radius: 2px;
  display: inline-block;
  overflow: hidden;
  background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  .cf-turnstile {
    background: #232323;
  }
}
@media (max-width: 528px) {
  /* 以下 */
  .nav-link {
    padding: 0 5px;
    font-size: 12px;
  }
  .app-name {
    font-size: 28px;
  }
  
  .footer-links {
    font-size: 12px;
  }
  .footer-actions {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  /* 以下 */
  main {
    flex-wrap: wrap;
  }
  .main-container {
    width: 100%;
    max-width: none;
  }
  .sub-container {
    max-width: 100%;
    width: 100%;
  }
  .sub-content {
    max-height: none;
  }
}
@media (min-width: 1300px) {
  /* 以上 */
  main {
  }
  .main-container {
    max-width: 1000px;
  }
}
